######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.patch
*.xml.versionsBackup
*.swp
.m2/
tmp/
tmp/*.json
tmp/logs/
tmp/redis/
tmp_db_setup.sql
.env
.env.*
!.env.example

!*/build/*.java
!*/build/*.html
!*/build/*.xml
